
*{
  margin: 0px;
  padding: 0px;
}

/* STYLE SECTIONING TAGS */
body {
  background-color: rgb(25, 180, 180); 
}

header {
  background-color: lightcyan;
}


/* STYLE TEXT */

h1 {
  text-align: center; 
  color: navy;
  padding-top: 1em;
  padding-bottom: 1em;
}

h2 {
  text-align: center; 
  color: navy;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h3 {
  text-align: center; 
  color: navy;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

p {
  /* margin-left: 2%;
  margin-right: 2%; */
  font-family: "Arial", sans-serif;
  font-size: 25px;
  color: navy;
  /* border: 3px solid pink; */
}

/* STYLE IMAGES */

/* STYLE NAV BAR */

ul {
  overflow: hidden;
  padding: 1em;
  text-align: center;
}

li {
  display: inline;
}

li a {  
  text-decoration: none;
  color: rgb(0, 30, 180);
  font-size: 1.5em;
  padding: 1.5em;
}

li a:hover {
  background-color: #43D6D8;
}




/* Main Flex */

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 3px solid yellow; */
  margin: 10px;
}

.main>div {
  margin: 20px;
  /* border: 3px solid purple; */
}

.main>div>p {
  width: 30em;
}

.main>div>img {
  width: 30em;
  border-radius: 15%;
  border: 3px solid white; 
}



/* Portfolio Flex */

.portfolio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 3px solid yellow; */
  margin: 20px;
}


/* slideshow */


* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}


/* img */

img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;

  /* width: 30em;
  border-radius: 15%;
  border: 3px solid white;  */

}


/* Slideshow container */
.slideshow-container {
  max-width: 35em;
  /* max-height: 300px; */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}